:root {
    --bg-color: #121725;

    --h1-color: #ffffff;
    --h1-highlighted-color: #54e6af;
    --p-color: #c2cbe5;
    --p-error-color: #fb3e3e;

    --input-field-placeholder-color: #5a668a;
    --input-field-content-color: white;
    --button-text-color: #121725;

    --input-field-bg-color: #2c344b;
    --button-bg-color: #54e6af;

    --button-bg-color-hover: #a9f2d7;
    --input-field-error-stroke: #fb3e3e;
}
